
header {
	padding: 40px 20px 0;
	
	.hgroup {
		@include span-columns(3);
		
		h1 {
			@include din-black;
			font-size: 5em;
			letter-spacing: 0.075em;
			line-height: 1;
			margin: 0 0 0px;
			text-transform: uppercase;
		}
		
		h2 {
			@include din-bold;
			font-size: 2em;
			letter-spacing: 0.025em;
			line-height: 1;
			margin: 0;
			text-transform: uppercase;
		}
	}
	
	.shit-bio {
		@include span-columns(4);
		
		p {
			font-size: 1.375em;
			letter-spacing: -0.025em;
			line-height: 1.4;
			margin: 24px 0 -2px;
		}
	}
	
	nav {
		@include span-columns(8);
		@include shift(1);
		@include clearfix;
		
		ul {
			border-bottom: 1px solid #dddddd;
			float: right;
			margin: 78px 0 0;
			padding-bottom: 10px;
			
			li {
				@include inline-block;
				color: $light-grey;
				font-size: 0.875em;
				margin-left: 13px;
				text-transform: uppercase;
				
				&:first-child {
					margin-left: 0px;
				}
			}
			
			.blank-writing,
			.blank-photography {
				cursor: pointer;
				position: relative;
				
				&:after {
					@include transform(translateY(35px) rotateX(45deg));
					@include transition (all 0.3s ease-in-out);
					color: $base-colour;
					content: 'Coming soon';
					font-size: 0.75em;
					margin: 0 auto;
					opacity: 0;
					position: absolute;
					text-align: center;
					width: 60px;
				}
				
				&:hover:after {
					@include transform(translateY(21px));
					opacity: 1;
				}
			}
			
			.blank-photography:after {
				left: 20px;
			}
			
			a {
				border-bottom: 1px solid transparent;
				color: $grey;
				padding-bottom: 9px; 
			}
			
			.active a,
			a:hover {
				border-bottom: 1px solid $base-colour;
				color: $base-colour;
			}
		}
	}
}

