
@include media($mobile) {
	
	body {
		-webkit-text-size-adjust: none;
	}
	
	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}
	
	header {
		padding-top: 10px;
	
		nav {
			display: none;
		}
	}
}