
/*************
	Variables
*/

/* Colours */

$white: #ffffff;

$light-grey: #aaaaaa;
$grey: #444444;

$orange: #ee8844;

$base-colour: $orange;
$body-colour: $grey;
$background-colour: $white;


/* Margins */

$sitemargin: 50px;


/* Typography */

/* Helvetica */

$proxima-nova: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, san-serif;

@mixin proxima-nova-regular {
	font-family: $proxima-nova;
	font-weight: 400;
}

@mixin proxima-nova-bold {
	font-family: $proxima-nova;
	font-weight: 700;
}

@mixin proxima-nova-black {
	font-family: $proxima-nova;
	font-weight: 900;
}


