
body {
	@include din-regular;
}

* {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

p {
	@include din-regular;
	color: $body-colour;
	font-size: 1.125em;
	line-height: 1.4em;
	margin: 0 0 1em;
}

p a {
	color: $base-colour;
}

h1, h2, h3, h4, h5, h6 {
	@include din-bold;
	color: $body-colour;
	line-height: 1.2;
	margin: 0 0 1em;
	padding: 0;
	text-rendering: optimizeLegibility;
}

h1 {
	@include din-medium;
	font-size: 2.25em;
	letter-spacing: -0.025em;
	line-height: 1;
}

h2 {
	@include din-medium;
	font-size: 1.5em;
	letter-spacing: -0.025em;
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}