
@include media($mobile) {
	
	body {
		-webkit-text-size-adjust: none;
	}
	
	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}
	
	header {
		padding-top: 20px;
		
		.hgroup {
			margin-bottom: 10px;
		}
		
		.shit-bio p {
			margin-top: 0;
		}
	
		nav {
			display: none;
		}
	}
	
	div#main {
		margin-bottom: 40px;
		padding: 40px 20px 0;
		
		h1 {
			margin-bottom: 15px;
		}
	
		section {
			padding-top: 20px;
			margin-bottom: 20px;
	
		}
	}
}