
@include media($mobile) {

	body {
		-webkit-text-size-adjust: none;
	}

	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}

	header {
		padding-top: 20px;

		.hgroup {
			margin-bottom: 10px;
		}

		.shit-bio p {
			margin-top: 0;
		}

		nav {

			ul {
				border-bottom: none;
				margin: 20px 0 0;

				li {
					display: block;
					font-size: 1.125em;
					margin: 10px 0;
				}

				.blank-writing,
				.blank-photography {
					display: none;

					&:after {
						display: none;
					}
				}

				a {
					border-bottom: 1px solid transparent;
					padding-bottom: 0px;
				}
			}
		}
	}

	div.main-content {
		margin-bottom: 40px;
		padding: 20px 20px 0;

		h1 {
			margin-bottom: 15px;
		}

		section {
			margin-bottom: 20px;
			padding-top: 20px;

			&:nth-child(odd) {

				figure,
				aside {
					margin-left: 0;
					float: none;
					width: 100%;
				}
			}

			figure,
			aside {
				margin-left: 0;
				float: none;
				width: 100%;
			}
		}
	}
}